.container {
  margin: 0 auto;
  width: 60%;
  text-align: center;

  .form-signin {
    div {
      .sr-only {
        font-weight: 600;
      }

      .form-control {
        width: 10rem;
        height: 1.5rem;
        padding-left: 0.3rem;
        border-radius: 10%;
        border-color: #000000;
      }

      .btn {
        margin-top: 1rem;
        width: 10rem;
        height: 2rem;
        background: #005e08;
        color: #fff;
        border-radius: 30%;
      }
    }
  }
}

