section {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  table {
    margin: 0 auto;
    border: solid 0.1rem #000;

    thead {
      font-weight: 600;
    }

    td {
      width: 5rem;
    }
  }
}
